
@{
    ViewData["Title"] = "Hello World";
}
<div class="text-center">
    <img src="https://i.ibb.co/c3nZTsn/desenho-de-mao-acenando-alienigena-fofo-desenhado-a-mao-194871-296-removebg-preview.png" alt="Et Acenando" width="200" height="200">

    <h1 class="display-4">Bem-vindo, terráqueo!</h1>
    <p>Cadastre-se agora e escolha o seu planeta destino!</p>
            <a role="button" class="btn btn-success" asp-controller="Contato" asp-action="Create">Clique aqui</a>
</div>